extends index.pug

block content
  p
    |Lo-fi chia heirloom post-ironic listicle. Portland brooklyn skateboard cray. Lyft slow-carb organic VHS post-ironic. Bushwick venmo man braid master cleanse, keytar kickstarter crucifix literally put a bird on it heirloom lo-fi live-edge brunch glossier enamel pin. Everyday carry bitters disrupt, lumbersexual kickstarter iPhone sriracha cold-pressed. Affogato drinking vinegar skateboard organic plaid, single-origin coffee vape copper mug schlitz. 3 wolf moon gluten-free jean shorts craft beer actually tumblr, brunch schlitz art party subway tile chillwave la croix raclette af.
