extends index.pug

block content
  h2 slogannnnnnnnnn
  p
    | Today's date is #{date}  
  p  
    | Bushwick cred you probably haven't heard of them gochujang venmo lo-fi. Hoodie pickled prism tbh, yuccie meditation fingerstache narwhal street art cardigan leggings activated charcoal hell of. Echo park tofu health goth, master cleanse aesthetic hell of franzen craft beer shabby chic mumblecore kinfolk shoreditch la croix. Fam green juice intelligentsia dreamcatcher. Copper mug brunch disrupt, succulents mustache chartreuse air plant. Direct trade brunch paleo, post-ironic brooklyn cold-pressed beard. Pabst locavore biodiesel PBR&B yr wayfarers gochujang, post-ironic franzen.
