doctype html
html
  head
    title My bakery
    include stylesheets.pug
    
  body
    
    include nav.pug

    
    block content
      h1 Bakery name
      img.picture(src='http://az616578.vo.msecnd.net/files/2017/01/07/636193603872066888683600230_8058f085547596963e2b585004640cb5.jpg')
      
      p
        | 3 wolf moon portland authentic vaporware pickled. Yr chambray fanny pack, vice four loko iceland kogi unicorn brooklyn vape hashtag chicharrones helvetica ethical. Glossier distillery venmo fam, snackwave craft beer lumbersexual. Synth bitters banh mi lomo, heirloom tumeric butcher snackwave. Bushwick organic prism, stumptown 3 wolf moon tacos fap tousled tote bag typewriter keffiyeh portland synth. Pickled leggings truffaut post-ironic, street art salvia forage deep v cronut actually craft beer poutine flexitarian kitsch organic. Everyday carry vice small batch literally jean shorts hexagon.
