extends index.pug

block content
  //- ul
  //-   each product in products
  //-     li #{product.Name} #{product.Price}

  .products
    table
      thead
        tr
          th Name
          th Price
          
      tbody
        each product in products
          tr 
            td #{product.Name}
            td #{product.Price}
